
  .main-container{
    display: flex;  
    border: none;
    padding: 3%;    
    border-radius: 30px;
    margin: 0.4%;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    flex-wrap: nowrap;
    align-items: center;
    max-width: 50%;
    color: #15576d;    
    font-weight: 500;    
  }
#title{
    margin-bottom: 3%;
}
#search-form{
    margin-bottom: 3%;
}
#switch{
    margin-bottom: 3%;
}
 input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 15px;
    border: 2px solid #19657ea4;
    
  } 
 
  h1,h2,h3,h4,h5,p{
    padding: 0px;
  }
  
  h2{
    margin-right: 10px;
  }
  h4,p{
    margin-left: 20px;
    margin-right: 4%;
  }
  
  button {
    display: inline-block;
    border-radius: 5px;
    background-color: #19657e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 0.5px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    opacity: 0.80;
    height: 35px;
  }
  
  .button:hover {
    opacity: 1;  
  }
     
    .form-control input {
      width: 100%;
      height: 40px;
      margin: 5px;
      padding: 3px 7px;
      font-size: 17px;
      border-radius: 15px;
      border: 2px solid #19657ea4;
      
    }
    
    label{
      
      font-weight: 600;
      font-size:large;
    }

    #flexSwitchCheckDefault{
        width: 2em;
        height: 1em;
      }

    .form-switch {
        padding-left: 3.5em;
    }

    .totales{       
       border-top: 2px solid #19657ea4;   
    }
    
    @media (max-width:1700px) {
        .main-container{
            max-width: 50%;
        }

    }

    @media (max-width:1346px) {

        .main-container{
            max-width: 60%;
        }
    }

    @media (max-width:1200px) {

        .main-container{
            max-width: 70%;
        }
    }

      @media (max-width:1000px) {

        .main-container{
            max-width: 80%;
        }
      }
      @media (max-width:656px) {

        .main-container{
            max-width: 95%;
        }
      }

      @media (max-width:504px) {

        .main-container{
            max-width: 95%;
        }
        h1{
            font-size: 25px;
        }
      }

      @media (max-width:418px) {

        .main-container{
            max-width: 95%;
        }
        h1{
            font-size: 20px;
        }
      }