<div class="container-fluid main-container a" id="container">

    <div class="row" id="title">
  
      <div class="col-lg-12">
        <h1>Busqueda de Títulos de Películas</h1>
      </div>
  
    </div> 

  <div class="row" >
    
    <form [formGroup]="form"  (ngSubmit)="getMovieTitles($event)" id="search-form">
      <div class="mb-3">
        <label for="titleInput">Ingrese el Titulo que desea buscar</label>
        <input type="text" formControlName="title"  (ngModelChange)="onTitleChange()"
          [ngClass]="{'is-invalid': Title?.errors && Title?.touched,
          'is-valid': !Title?.errors && Title?.touched}"
          class="form-control" id="titleInput" aria-describedby="titleHelp" placeholder="Ingrese Titulo">
        <div *ngIf="Title?.errors && Title?.touched">
          <p *ngIf="Title?.hasError('required')" class="text-danger">
            El titulo es requerido.
          </p>
        </div>
      </div>     

      <div class="mb-3" *ngIf="!traerTodas">
        <label for="titleInput">Ingrese la Página que desea visualizar</label>
        <input type="number" formControlName="page"
          [ngClass]="{'is-invalid': Page?.errors && Page?.touched,
          'is-valid': !Page?.errors && Page?.touched}"
          class="form-control" id="PageInput" aria-describedby="PageHelp" placeholder="Ingrese la Página">
        <div *ngIf="Page?.errors && Page?.touched">
          <p *ngIf="Page?.hasError('required')" class="text-danger">
            La pagina es requerida.
          </p>
          <p *ngIf="Page?.hasError('max')" class="text-danger">
            Ha exedido el numero maximo de paginas
          </p>
        </div>
      </div>


      <button type="submit" class="btn button" [disabled]="!form.valid">Enviar</button>
    </form>

    <div class="form-check form-switch" id="switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="onChange()"  [checked]="traerTodas">
      <label class="form-check-label" for="flexSwitchCheckDefault">Traer todas las paginas</label>
    </div>

    <div class="totales">
      <h5>Peliculas Totales</h5>
      <p>{{moviesDTO.total}}</p>
    </div> 
   
    <div class="totales">
      <h5>Cantidad de Paginas</h5>
      <p>{{moviesDTO.total_pages}}</p>
    </div>
    

    <div class="col-lg-12">
  
        <app-movie-item        
            *ngFor="let title of moviesDTO.titles"
            [title] = title
        ></app-movie-item>
  
    </div>
  
  </div>

