h1,h2,h3,h4,p{
    padding: 2px;
  }
  
  h2{
    margin-right: 10px;
  }
  h4,p{
    margin-left: 20px;
    margin-right: 4%;
  }

  .movie{
    border-top: 2px solid #19657ea4;
    border-left: 2px solid #19657ea4;
    -webkit-box-shadow: 7px 13px 29px 0px rgba(0,0,0,0.46); 
    box-shadow: 7px 13px 29px 0px rgba(0,0,0,0.46); 
    border-bottom-right-radius: 0%;
    max-width: 100%;
    background-color: #31314530;
    color:#313145;
}